zztable1.tex
zztable1.Rproj
zztable1.docx
zztable1.html
zztable1.md
zztable1.pdf
zztable1.aux
zztable1.lof
zztable1.log
zztable1.lot
zztable1.out
zztable1.toc
zztable1_files/
data/
cache/
.vimrc
.zshrc
sudoku_apple.pdf
preamble.tex
library.bib
